@import 'tailwindcss';
@import './brand.css';
@plugin "daisyui";

@layer theme {
    :root {
        --spacing: 0.15rem;
    }
}

@plugin "daisyui/theme" {
    name: 'dark';
    --color-primary: #3AB6B7;
    --color-primary-content: #FFFFFF;
    --color-secondary: #11848A;
    --color-secondary-content: #FFFFFF;
    --color-accent: #C0FBF6;
    --color-accent-content: #0A242E;
    --color-neutral: #244A53;
    --color-neutral-content: #C0FBF6;
    --color-base-100: #0A242E;
    --color-base-200: #0C2A36;
    --color-base-content: #C0FBF6;
}

@plugin "daisyui/theme" {
    name: 'light';
    --color-primary: #3AB6B7;
    --color-primary-content: #FFFFFF;
    --color-secondary: #11848A;
    --color-secondary-content: #FFFFFF;
    --color-accent: #C0FBF6;
    --color-accent-content: #244A53;
    --color-neutral: #244A53;
    --color-neutral-content: #FFFFFF;
    --color-base-100: #FFFFFF;
    --color-base-200: #EFF9F8;
    --color-base-content: #244A53;
}
